#one{
    padding-top: 5%;
    text-align: center;
    font-size: xx-large;
}

#two {
    padding-top: 5%;
    text-align: center;
    font-size: xx-large;
}

#three{
    padding-top: 5%;
    text-align: center;
    font-size: xx-large;
}

#four{
    padding-top: 5%;
    text-align: center;
    font-size: xx-large;
}

#five{
    padding-top: 5%;
    text-align: center;
    font-size: xx-large;
}

#six {
    padding-top: 5%;
    text-align: center;
    font-size: xx-large;
}

#seven{
    padding-top: 5%;
    text-align: center;
    font-size: xx-large;
}

#eight{
    padding-top: 5%;
    text-align: center;
    font-size: xx-large;
}